body {
  font-family: monospace;
  text-align: center;
  background-color:coral;
  font-size: 40px;
  
 
}


li {
  list-style-type: none;
  
  ;
  
}

h1 {
  background-color: tomato;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.mb-3 {
  padding-left:  200px;
  padding-right: 200px;
}

.mb-4 {
  padding-left:  300px;
  padding-right: 300px;
}